.text-input-generic-label {
    font-size: 75%;
    color: rgb(102, 102, 102);
    padding-left: 2px;
    user-select: none;
}

.text-input-generic-text-box {
    width: 95%;
    border-width: 0px;
}

.text-input-generic-text-box:focus {
    outline: none;
}

.text-input-generic-container {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: white;
    
    padding: 1%;
    margin: 1%;
    cursor: text;
    width: 90%;
}

.text-input-half-generic-container {
    width: 42.5%;
}

.text-input-focus-container {
    border-color: rgb(109, 109, 240);
    box-shadow: 1px 1px 2px rgb(161, 159, 187)
}

.check-box-generic-label {
    padding: 5px;
    padding-left: 5px;
    width: 83%;
    color: rgb(102, 102, 102);
    font-size: 90%;
}

.check-box-generic-input {
    
}

.check-box-generic-container {
    background-color: white;
    display: flex;
    
    border-radius: 5px;
    
    padding: 1%;
    margin: 1%;
    cursor: text;
    width: 90%;
}

.form-submit-button {
    background-color: rgb(103, 255, 161);
    border-color: rgb(146, 146, 175);
    padding: 2%;
    cursor:pointer;
    font-size: 110%;
    border-radius: 8px;
}