.text-input-generic-label {
    font-size: 75%;
    color: rgb(102, 102, 102);
    padding-left: 2px;
    user-select: none;
}

.text-input-generic-text-box {
    width: 95%;
    border-width: 0px;
}

.text-input-generic-text-box:focus {
    outline: none;
}

.text-input-generic-text-link {
    font-size: 11px;
    background-color: gray;
}

.text-input-generic-container {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    background-color: white;
    
    padding: 1%;
    margin: 1%;
    cursor: text;
    width: 90%;
    
    box-shadow: 0px 2px 4px #00000041;
}

.text-input-generic-container:focus-within {
    border-color: rgb(109, 109, 240);
    box-shadow: 0px 2px 4px rgba(71, 61, 211, 0.26)
}

.text-area-generic-input {
    resize: none;
}

.text-input-half-generic-container {
    width: 42.5%;
}

.check-box-generic-label {
    padding: 5px;
    padding-left: 5px;
    width: 83%;
    color: rgb(102, 102, 102);
    font-size: 90%;
}

.check-box-generic-input {
    
}

.check-box-generic-container {
    background-color: white;
    display: flex;
    
    border-radius: 5px;
    
    padding: 1%;
    margin: 1%;
    cursor: text;
    width: 90%;
    
    box-shadow: 0px 2px 4px #00000041;
}

.form-submit-button {
    background-color: #354779;
    border-color: rgb(146, 146, 175);
    color: rgb(230, 230, 235);
    padding: 2%;
    cursor:pointer;
    font-size: 16px;
    border-radius: 8px;
}

.form-submit-button:hover {
    background-color: #4d6095;
}

.form-submit-button-small {
    background-color: #354779;
    border-color: rgb(146, 146, 175);
    color: rgb(230, 230, 235);
    padding: 2%;
    cursor:pointer;
    font-size: 12px;
    border-radius: 8px;

}
.form-submit-button-small:hover {
    background-color: #4d6095;
}

.centered-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-button-texture {
    background-size: cover;
    width: 70%;
    height: 70%;
    margin: auto;
}

.icon-button-container {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    padding: 0px;
    border: none;
    border-radius: 4px;
    margin: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.432);
}

.generic-dropdown {
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.623);
    position: relative;
}

.button-check-box {
    border: none;
    padding: 3px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.623);
}

.button-text-link {
    font-weight: bolder;
    color: black;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.button-text-link:hover {
    color: blue;
}