
.ui-comment-vote-container {
    display: inline-block;
    margin: auto;
    text-align: center;
}

.ui-comment-vote-buttons-container {
    position: absolute;
    top: -18px;
    left: 1px;
    display: flex;
    padding: 1px;
    border-radius: 6px;
    flex-direction: column;
}


.ui-comment-vote-hitbox {
    background-color: rgb(228, 228, 228);
    position: relative;
    width: 24px;
    height: 24px;
}

.ui-comment-vote-hitbox:hover {
    background-color: rgb(228, 228, 228);
}

.ui-comment-upvote-downvote-button {
    background-color: rgb(224, 224, 224);
    box-shadow: none;
    padding: 0px;
    margin: auto;
    border-radius: 8px;
}

.ui-comment-up {
    margin-bottom: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.ui-comment-up:hover {
    background-color: rgb(163, 201, 211);

}

.ui-comment-down {
    margin-top: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.ui-comment-down:hover {
    background-color: rgb(218, 180, 166);

}


/*
.comment-vote-button {
    background-color: none;
    display: block;
    border: none; 
    width: 13px;
    height: 13px;
    margin-left: auto;
    margin-right: auto;
}
.comment-vote-number-display {
    width: 100%;
    font-size: 8px;
    text-align: center;
}
.comment-vote-category-display {
    width: 100%;
    font-size: 8px;
    text-align: center;
}
.comment-vote-container {
    margin-top: 3px;
    width: 30px;
    display:inline-block; 

}
*/