
/* --- Header Styles --- */
.ui-report-container {
    margin-bottom: 8px;
}

.ui-report-sub-parent-container {
    background-color: white;
    padding: 2px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
}

.comment-report-header-state {
    color: red;
    display: inline-block;
}

.comment-report-header-time-reported {
    display: inline-block;
    text-align: right;
    padding-left: 33%;
    font-size: 12px;
}

.comment-report-header-container {
    background-color: rgb(255, 216, 216);
    padding: 2px;
    border-radius: 2px;
}

/* --- Button Styles --- */

.comment-report-button {
    display: inline-block;
    border: none;
    width: auto;
    border-color: rgb(78, 78, 78);
    border-width: 1px 1px 0px 1px;
    border-radius: 3px 3px 0px 0px;
    margin-left: 1px;
    margin-right: 1px;
    border-style:solid;
}

.comment-report-buttons-container {
    text-align: center;
}


/* --- Parent Container Styles --- */

.comment-report-parent-container {
    padding: 10px;
}

/* --- Content Container Styles --- */

.comment-report-username {
    font-weight: bold;
}

.comment-report-info-block {
    font-size: 12px;
}

/* --- Moderate Container Styles --- */
.comment-report-action-reason-label {
    display:block;
}

.comment-report-action-reason-textbox {
    display:inline;
    resize:none;
    padding-bottom:15%;
    width: 90%;
}