
.ui-comment-parent-shade {
    padding-left: 6px;
    padding-top: 1px;
    background-color: rgba(255, 0, 0, 0.151);
}

.ui-comment-block {
    background-color: snow;
    padding: 3px;
    border-radius: 4px;
}

.ui-comment-header-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 6px;
}

.ui-comment-header-time {
    font-size: 13px;
}

.ui-comment-content {
    font-size: 13px;
    padding-left: 2px;
    padding-bottom: 6px;
    color:rgb(51, 51, 51);
}

.ui-comment-replies-nested {
    margin-left: 24px;
}

.ui-comment-footer-container {
    display: inline-block;
    align-items: flex-end;
    justify-content: space-between;
    width: 104%;
}

.ui-comment-replies-collapse-button {
    position: absolute;
    left: 2px;
    background-color: transparent;
    box-shadow: none;
}

.ui-comment-replies-collapse-button:hover {
    background-color: rgba(255, 0, 0, 0.466);
}

/*
@font-face {
    font-family: 'Bookman Old Style';
    src: url(fonts/BOOKOS.TTF);
    font-family: 'Bold Times New Roman';
    src: url(fonts/TIMESBD.TTF);
    font-family: 'Times New Roman';
    src: url(fonts/TIMES.TTF);
}
.username-header {
    font-family: 'Bold Times New Roman',Arial;
    border-left: 1px dashed black;
    font-weight: bold;
    vertical-align:bottom;
    padding-bottom: 5px;
    padding-left: 2px;
    display:inline-block;
}

.cafe-comment-posted-time {
    font-family: 'Bookman Old Style',Arial;
    font-weight: bold;
    font-size: 10px;
    vertical-align:bottom;
    padding-bottom: 5px;
    padding-left: 5px;
    display:inline-block;
}

.comment-child-container {
    padding-left: 20px;
}

.cafe-comment {
    font-family: 'Times New Roman',Arial;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    margin-top: 3px;
    padding-top: 2px;
}

.cafe-comment-content {
    padding-left: 2px;
}

.cafe-comment-collapse-button {
    background-color: none;
    display: block;
    border: none; 
    width: 24px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cafe-window-button {
    font-family: 'Montserrat';
    display: block;
    
    border-color: gray;
    border-width: 1px;
    border-radius: 4px;
    
    width: 200px;
    padding: 5px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}
*/