
.ui-feedback-container {
    background-color: rgb(212, 211, 252);
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: blue;
    border-width: 1px;
}

.ui-feedback-header-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(158, 152, 252);
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 5px;
}

.ui-feedback-content-container {
    width: 98%;
    margin-left: 1%;
    font-size: 12px;
    overflow-wrap: break-word;
    margin-bottom: 16px;
}