
.main-message-layout {
    
}

.comment-dude {
    background-image: url('../assets/dude.svg');
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.dude-speech-bubble-full {
    width: 75%;
    height: 40px;
    display: inline-flex;
}

.dude-speech-bubble-arrow {
    background-image: url('../assets/speech-bubble-arrow.svg');
    background-size: cover;
    width: 32px;
    height: 32px;
    align-items: center;
}

.dude-speech-bubble-area {
    background-color: white;
    width: 65%;
    padding: 3%;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}

/*
BACKUP SPEECH BUBBLE
.dude-speech-bubble-area {
    background-color: white;
    padding: 2%;
    width: 65%;
    border-radius: 6px;
    border-bottom-left-radius: 0px;
    margin-top: 2%;
    margin-left: 2%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}
*/

.server-message {
    font-size: 12px;
}

.server-message-success-false {
    animation: shake 2s;
    color: darkred;
    animation: fadeOut 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.server-message-success-true {
    color: darkblue;
    animation: fadeOut 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    75% {opacity: 1;}
    100% {opacity: 0;}
}
