@font-face {
    font-family: 'Bookman Old Style';
    src: url(fonts/BOOKOS.TTF);
    font-family: 'Bold Times New Roman';
    src: url(fonts/TIMESBD.TTF);
}

.profile-info-row {
    font-family: 'Bookman Old Style',Arial;
    padding: 2px;
    display: flex;
    width: 95%;
}

.profile-info-row>label {
    font-family: 'Bookman Old Style',Arial;
    padding-right: 10px;
    width: 40%;
    text-align: right;
}
.profile-info-row label::after {
    font-family: 'Bookman Old Style',Arial;
    content:":";
}

.profile-info-row>div {
    font-family: 'Bookman Old Style',Arial;
    padding-left: 10px;
    width: 50%;
}
.profile-blurb-row{
    font-family: 'Bold Times New Roman',Arial; 
}

