
.comment-reply-container {
    display: inline;
    margin: auto;
}

.comment-reply-textarea {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.comment-reply-submit {
    color: black;
    margin: auto;
}