
/* For more narrow text inputs. */
.input-text-narrow {
    width: 50px;
}

/* For displaying inline buttons. */
.input-inline-button {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

/* For top padded containers */
.container-top-padded {
    padding-top: 10px;
}

.bottom-pad {
    padding-bottom: 20px;
}

.centered {
    text-align: center;
}


/** section label is centered and has hover characteristics, as its intended use is as both a header and a 'drop down' toggler for a given section */
.section-label {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

.section-label-as-button:hover {
    color:brown;
    cursor: pointer;
}
.section-label-as-button:active {
    color: rgb(113, 30, 30);
    cursor: pointer;
}

/** For tabular data, eg, in the feedback report */
.section-container-table {
    width: 100%;
}
.section-container-table-td-label {
    text-align: right;
    width: 39%;
    padding-right: 2px;
}
.section-container-table-td-data {
    padding-left: 2px;
    width: 59%;
}

.section-input-label-medium {
    display: inline-block;
    text-align: right;
    padding-right: 5px;
    width: 20%;
}

/* For displaying an element such that the 1st child takes up half the width and the 2nd child takes up the other half. For displaying a 'row' of data.  */
.row5050 {
    display: block;
    padding: 2px;
}
.row5050 *:nth-child(1) {
    display: inline-block;
    padding-right: 10px;
    width: 40%;
    text-align: right;
}
.row5050 *:nth-child(2) {
    display:inline-block;
    padding-left: 10px;
    width: 50%;
    text-align: left;
}

.table {
    
}