
.cafe-window {
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px black;
    padding: 10px;
    background-color: #d6dee0;
}

.cafe-window-input-section {
    padding: 8px;
    padding-left: 0px;
    margin: 0px;
    border-radius: 3px;
    
    display: block;
    
    margin-bottom: 5px;
}

.cafe-window-input-field {
    display: inline-block;
    width: 60%;
    border-radius: 3px;
    border-style: hidden;
    padding: 10px;
    filter: drop-shadow(2px 2px 1px darkslategray);
}

.cafe-window-input-label {
    display: inline-block;
    width: 27%;
    padding-right: 10px;
    text-align: right;
}

.cafe-window-button {
    font-family: 'Montserrat';
    display: block;
    
    border-color: gray;
    border-width: 1px;
    border-radius: 4px;
    
    width: 200px;
    padding: 5px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}