
.comments-url-viewing {
    font-size: 12px;
    color: rgb(69, 69, 69);
}

.comments-container {
    width: 95%;
    min-height: 380px;
    max-height: 380px;
    overflow: auto;
    margin: 20px;
    padding-left: 0px;
    margin-left: 5px;
    border-radius: 5px;
}
