
.cafe-login-window {
    background-color: antiquewhite;
}

.section {
    background-color:  #f0f3f4;
    padding: 8px;
    padding-left: 0px;
    margin: 0px;
    border-radius: 3px;
    
    display: block;
    
    filter: drop-shadow(2px 2px 3px darkslategray);
}