

.cafe-global {
    width: 100%;
    position: relative;
}

.cafe-navbar-container {
    background-color: #354779;
    position: fixed;
    width: 100%;
    min-height: 70px;
    
    padding: 3px;
    
    filter: drop-shadow(0px 1px 1px #10206671);
    z-index: 200;
}

.cafe-window-container {
    width: 100%;
    padding-top: 100px;
    padding-right: 30px;
}

.cafe-navbar-hamburger {
    background-image: url("./svg/hamburger.svg");
    background-size: cover;
    background-color: #e6eae4;
    width: 28px;
    height: 32px;
    display: flex;
    border: none;
    margin: 5px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.423);
    cursor: pointer;
}

.cafe-navbar-pane {
    position: absolute;
    padding-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 50%;
    background-color: #354779;
    display: none;
    align-items: center;
    margin-left: -5px;
    animation-duration: 0.15s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        opacity: 0%;
        width: 0%;
    }
    to {
        opacity: 100%;
        width: 50%;
    }
}

.cafe-navbar-pane-button {
    display: inline-block;
    border: none;
    color: white;
    background-color:#726ab5;
    border-radius: 3px;
    width: 88%;
    margin-left:10px;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.431);
}

.cafe-navbar-pane-button:hover {
    background-color: #8ca4e5;
}

/*
.hamburger-container {
    background-color: lightgray;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 6px;
    padding-top: 7px;
    z-index: 1;
    box-shadow: 2px 0px black;
}
.hamburger-image:hover {
    cursor: pointer;
}

.hamburger-buttons-container {
    position: absolute;
    right: 0px;
    background-color: lightgray;
    padding: 10px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px black;
}
.hamburger-nav-selection {
    font-family: 'Overpass';
    border-style: hidden;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    padding: 4px;
    padding-top: 6px;
    background-color: #c1c1d0;
}
.hamburger-nav-selection:hover {
    background-color: #d2e3da;
    cursor: pointer;
    cursor: pointer;
}


.nav-bar {
    padding: 5px 0px 0px 5px;
    font-size: 12px;
}



.nav-tab {
    font-family: 'Overpass';
    display: inline-block;
    width: 180px;
    padding: 10px 10px 5px 10px;
    border-style: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #c1c1d0;
}
.nav-tab:hover {
    background-color: #d2e3da;
    cursor: pointer;
}

.active-nav-tab {
    background-color: #d6dee0;
}
.active-nav-tab:hover {
    background-color: #d6dee0;
    cursor:default;
}
*/