

.cafe-container {
    width: 400px;
}


.nav-tab {
    font-family: 'Overpass';
    display: inline-block;
    width: 180px;
    padding: 10px 10px 5px 10px;
    border-style: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #c1c1d0;
}
.nav-tab:hover {
    background-color: #d2e3da;
    cursor: pointer;
}

.nav-bar {
    padding: 5px 0px 0px 5px;
    font-size: 12px;
}

.active-nav-tab {
    background-color: #d6dee0;
}
.active-nav-tab:hover {
    background-color: #d6dee0;
    cursor:default;

}
