

.cafe-container {
    width: 400px;
    min-height: 400px;
    position: relative;
}


.hamburger-container {
    background-color: lightgray;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 6px;
    padding-top: 7px;
    z-index: 1;
    box-shadow: 2px 0px black;
}
.hamburger-image:hover {
    cursor: pointer;
}

.hamburger-buttons-container {
    position: absolute;
    right: 0px;
    background-color: lightgray;
    padding: 10px;
    width: 100px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid black;
    box-shadow: 2px 2px black;
}
.hamburger-nav-selection {
    font-family: 'Overpass';
    border-style: hidden;
    width: 100%;
    font-size: 16px;
    margin-top: 5px;
    padding: 4px;
    padding-top: 6px;
    background-color: #c1c1d0;
}
.hamburger-nav-selection:hover {
    background-color: #d2e3da;
    cursor: pointer;
    cursor: pointer;
}


.nav-bar {
    padding: 5px 0px 0px 5px;
    font-size: 12px;
}

/* Older tab styling */

.nav-tab {
    font-family: 'Overpass';
    display: inline-block;
    width: 180px;
    padding: 10px 10px 5px 10px;
    border-style: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #c1c1d0;
}
.nav-tab:hover {
    background-color: #d2e3da;
    cursor: pointer;
}

.active-nav-tab {
    background-color: #d6dee0;
}
.active-nav-tab:hover {
    background-color: #d6dee0;
    cursor:default;
}
