
html {
    font-family: 'Montserrat';
}


h1 {
    font-family: "Overpass";
}



.section-title {
    background-color:   #d0ece7  ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 5px;
    font-size: 28px;
    padding: 20px;
    width: 90%;
    margin-bottom: 40px;
    text-align: right;
    color:  #27ae60;
    text-transform: uppercase;
    filter: drop-shadow(2px 2px 1px darkslategray);
}

.field-label {
    width: 27%;
    padding-right: 10px;
    text-align: right;
}



