.svg-agree               { background-image: url("../svg/agree.svg"); }
.svg-close               { background-image: url("../svg/close.svg"); }
.svg-downvote            { background-image: url("../svg/downvote.svg"); }
.svg-dude                { background-image: url("../svg/dude.svg"); }
.svg-edit-pen-icon       { background-image: url("../svg/edit-pen-icon.svg"); }
.svg-factual             { background-image: url("../svg/factual.svg"); }
.svg-funny               { background-image: url("../svg/funny.svg"); }
.svg-hamburger           { background-image: url("../svg/hamburger.svg"); }
.svg-search-icon         { background-image: url("../svg/search-icon.svg"); }
.svg-speech-bubble-arrow { background-image: url("../svg/speech-bubble-arrow.svg"); }
.svg-upvote              { background-image: url("../svg/upvote.svg"); }
.svg-arrow               { background-image: url("../svg/arrow.svg"); }